/* public/styles/main.css */

body {
    font-family: Arial, sans-serif;
    background-color: #86999c;
    margin: 0;
    padding: 0;
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    
  }
  
  h1 {
    color: #090808;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    padding: 8px;
    background-color: rgb(212, 225, 229);
    box-shadow: 4px #959c9d;
    color: rgb(13, 13, 13);
    width: 180px;
    border-radius: 2px;
  }
  